<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jornada Épica</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    #options button {
      margin-right: 10px;
      padding: 10px 20px;
      font-size: 16px;
    }
    #response {
      margin-top: 20px;
      font-weight: bold;
      color: #333;
    }
  </style>
</head>
<body>

  <p id="inicio-estoria">Era uma vez...</p>

  <div id="texto-estoria"></div>

  <div id="options">
    <button onclick="handleClick(1)">um Dragão!</button>
    <button onclick="handleClick(2)">um cavaleiro!</button>
    <button onclick="handleClick(3)">uma ladra!</button>
    <button onclick="handleClick(4)">uma feiticeira!</button>
  </div>

  <script>
    // variáveis globais
    let capitulo = 0;
    let capitulosDaEstoria;

    window.onload = function() {
        // Use fetch to make the GET request
        fetch("http://localhost:5000/data")
            .then(response => {
                // Check if the response is successful
                if (!response.ok) {
                    throw new Error(`Error: ${response.status} - ${response.statusText}`);
                }
                return response.json(); // Parse the JSON data
            })
            .then(data => {
                // Log the fetched data
                console.log(data);
                capitulosDaEstoria = data;
            })
            .catch(error => {
                // Log any errors that occur
                console.error("Network or parsing error:", error);
            });
    };

    function handleClick(option) {
      // pega elemento do texto
      const textoEstoria = document.getElementById('texto-estoria');
      // cria elemento do parágrafo
      const paragraph = document.createElement('p');
      // incrementa número do capítulo
      capitulo++;
      // Cria elemento temporário para facilitar acesso
      let temp = capitulo.toString();
      
      // Insere texto na página
      let node;
      try {
        node = document.createTextNode(`${capitulosDaEstoria[temp].titulo} ${capitulosDaEstoria[temp].texto}`);
      } catch(err) {
        node = document.createTextNode(`Erro, falta capítulo da estória!`);
      }
      paragraph.appendChild(node);
      textoEstoria.appendChild(paragraph);

      // loga para ajudar no debug
      console.log(capitulosDaEstoria[temp].titulo + " " + capitulosDaEstoria[temp].texto);
    }
  </script>

</body>
</html>
